<h1> <%=@event.name%> </h1>

<%= link_to "Edit", edit_location_event_path %> |

<%= link_to "Delete", location_event_path, method: :delete, data: {confirm: "Are you sure you want to delete the location '#{@event.name}'? This cannot be undone!"}%> |

<%= link_to "Back to events", location_events_path %>
<br> <br><br>
Event: <%= @event.name %> <br><br>
Event date: <%= @event.date %> <br><br>
Capacity: <%= @event.capacity %> <br><br>
